## Assignment | 16th Feb 2023

Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

### SQL Database:
1. RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
2. These databases have fixed or static or predefined schema
3. These databases are not suited for hierarchical data storage.
4. These databases are best suited for complex queries
5. Vertically Scalable

### NoSQL Database:
1. Non-relational or distributed database system.
2. They have dynamic schema
3. These databases are best suited for hierarchical data storage.
4. These databases are not so good for complex queries
5. Horizontally scalable

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans. Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

### CREATE
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

In [ ]:
# Example:

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

### ALTER

This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

In [ ]:
# Example:

ALTER TABLE Student_info
ADD CGPA number;

### TRUNCATE 

This command is used to remove all rows from the table, but the structure of the table still exists.

In [ ]:
# Example:

TRUNCATE TABLE Student_info;

### DROP

This command is used to remove an existing table along with its structure from the Database.

In [ ]:
# Example:

DROP TABLE Student_info;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. The structured query language (SQL) commands deal with the manipulation of data present in the database that belongs to the DML or Data Manipulation Language. This includes most of the SQL statements.

In [ ]:
# Syntax for DML Commands:
Insert into <table_name> (column list) values (column values);

# For example, if we want to insert multiple rows to the Employee table, we can use the following command −



# INSERT
# Insert command is used to insert data into a table.

# Example:
Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);
Insert into Employee(Emp_id, Emp_name) values (002, “ hari”);
Insert into Employee(Emp_id, Emp_name) values (003, “ bob”);

# UPDATE
# Update command is used to update existing data within a table.

# Example:
UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;

# DELETE:
# Delete command is used to delete records from a database table.

# Example:
DELETE from Employee WHERE Emp_id=002;

Q4. What is DQL? Explain SELECT with an example.

Ans. The DQL statements can be used in order to query the data and information contained in schema objects. The goal of the DQL Commands is to return a schema relation on the basis of the query supplied to them.

DQL is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command to extract data from a database in order to perform actions on it. It is the same as the projection operation in relational algebra.

In [ ]:
# Syntax:
SELECT expression FROM table_x WHERE code_conditions;

# Example:
SELECT Stu_Name FROM Student WHERE Phone = 9039462908;

The command given above would select the record from the table ‘Student’ where the phone number is ‘9039462908’.

Q5. Explain Primary Key and Foreign Key.

Ans. 

### Primary Key:
1. A primary key is used to ensure data in the specific column is unique.
2. It uniquely identifies a record in the relational database table.
3. Only one primary key is allowed in a table.
4. 	It does not allow NULL values.
5. It is a combination of UNIQUE and Not Null constraints.

### Foreign Key:
1. A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
2. It refers to the field in a table which is the primary key of another table.
3. Whereas more than one foreign key are allowed in a table.
4. It can also contain NULL values.
5. It can contain duplicate values and a table in a relational database.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

### Cursor():
A cursor keeps track of the position in the result set, and allows you to perform multiple operations row by row against a result set, with or without returning to the original table. In other words, cursors conceptually return a result set based on tables within the databases.

### Execute():
Python's built-in exec() function allows you to execute arbitrary Python code from a string or compiled code input. The exec() function can be handy when you need to run dynamically generated Python code, but it can be pretty dangerous if you use it carelessly.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans. 

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.