## Assignment | 4th Feb 2023

Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

Ans.

In [1]:
a = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print("Original List of Tuples:")
print(a)
a.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(a)

Original List of Tuples:
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

Sorting the List of Tuples:
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ans.

In [2]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x : x**2 , l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ans.

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = tuple(map(lambda x: str(x), numbers))

print(result)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

Ans.

In [4]:
lst = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [5]:
result = list(filter(lambda x: (x % 2 == 0), lst))
print("Numbers divisible by 2 are",result)

Numbers divisible by 2 are [2, 6, 60, 90, 120, 46]

In [6]:
result = list(filter(lambda x: (x % 3 == 0), lst))
print("Numbers divisible by 3 are",result)

Numbers divisible by 3 are [3, 6, 9, 27, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.

['python', 'php', 'aba', 'radar', 'level']

Ans.

In [7]:
my_list = ['python', 'php', 'aba', 'radar', 'level']
result = list(filter(lambda x: (x == "".join(reversed(x))), my_list))
print(result)

['php', 'aba', 'radar', 'level']

Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

Ans.

In [10]:
from functools import  reduce

In [8]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [11]:
reduce(lambda x,y : x*y ,l)

15511210043330985984000000